
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=86da8f9cc3426f99fcb76a85ad6d3a0b
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress