@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'fonts/fonts';


@import 'fa/font-awesome.scss';
@import 'owl2/owl.carousel';
@import 'humburger';
@import 'grid/bootstrap-grid';

@import 'gulp_png_sprite';




body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;
  //max-width: $width;
}

.bottom-shadow {
  position: relative;
  &:before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    height: 90px;

    content: '';

    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

.flex_row {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
}

header {
  height: 100px;

  background: $gray-gradient;
  //margin-bottom: 50px;
  background-color: $gray-medium;
  .container {
    height: 100%;
    > .row{
      height: 100%;
    }
  }
  .logo {
    display: inline-block;
    float: left;

    padding: 0;
    img {
      max-width: 100%;
    }
  }
  .header-slogan {
    font-size: 21px;
    font-weight: 500;

    display: inline-block;
    float: left;

    padding: 0;

    text-transform: uppercase;
    span {
      font-size: 12px;
      font-weight: 400;

      display: inline-block;

      width: 100%;
    }
  }
  .head-tel {
    display: inline-block;
    display: flex;

    flex-flow: row nowrap;
    align-items: center;
    .call-wrapp {
      padding: 0;
    }
    .tel-link {
      font-size: 28px;
      line-height: 1;

      display: inline-block;

      padding: 0;

      color: #000;
      &:hover {
        color: $orange;
      }
      span {
        display: inline-block;

        padding: 0 8px;

        color: $orange;
      }
    }
  }
}

nav {
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}


.main-nav {
  min-height: 100%;
  //display: inline-block;
  padding: 0;

  align-self: stretch;
}
.lang-nav {
  min-height: 100%;
  //display: inline-block;

  align-self: stretch;
}

.header--lang {
  display: inline-block;
  display: flex;

  width: 100%;
  min-height: 100%;

  text-align: center;

  background: $gray-medium;

  justify-content: space-around;
  flex-flow: column nowrap;
  align-items: center;

  li {
    display: inline-block;

    width: 100%;
    min-height: 50%;
  }
}

.headnav {
  display: inline-block;
  display: flex;

  height: 100%;

  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
   > li {
    display: inline-block;
     > a {
      font-size: 21px;
      font-weight: 500;

      text-transform: uppercase;

      color: #000;
      &:hover {
        color: $orange;
      }
    }
  }
}




section {
  //padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray-light;
}




///MEDIA

@media (min-width: 1350px) {
  .container {
    max-width: $width;
  }
}


// col-xl-# ( ≥1200px)
@include media-breakpoint-down(xl) {
}

// col-lg-# ( ≥992px)
@include media-breakpoint-down(lg) {
}

// col-md-# ( ≥768px)
@include media-breakpoint-down(md) {
}

// col-sm-# ( ≥576px)
@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}



@import 'import/base64';
@import 'import/print';



//preloader
